<div class="col-xs-12 col-sm-6">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-bar-chart-o"></i>
					<span>Selects</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content">
				<h4 class="page-header">Basic select</h4>
				<div class="row form-group">
					<div class="col-sm-12">
						<select class="form-control">
							<option>Android</option>
							<option>Sailfish OS</option>
							<option>CyanogenMod</option>
							<option>FirefoxOS</option>
							<option>MeeGo</option>
						</select>
					</div>
				</div>
				<h4 class="page-header">Multiple select</h4>
				<div class="row form-group">
					<div class="col-sm-12">
						<select multiple class="form-control">
							<option>Android</option>
							<option>Sailfish OS</option>
							<option>CyanogenMod</option>
							<option>FirefoxOS</option>
							<option>MeeGo</option>
						</select>
					</div>
				</div>
				<h4 class="page-header">Select2 plugin</h4>
				<div class="row form-group">
					<div class="col-sm-12">
						<select id="el2">
							<option>Android</option>
							<option>Sailfish OS</option>
							<option>CyanogenMod</option>
							<option>FirefoxOS</option>
							<option>MeeGo</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
// Run Select2 on element
function Select2Test(){
	$("#el2").select2();
}
$(document).ready(function() {
	// Load script of Select2 and run this
	LoadSelect2Script(Select2Test);
	WinMove();
});
</script>